__pycache__/
.vscode
.env
._.DS_Store
*.DS_Store

data/Annotations/*
data/Images/*
data/Reports/*
data/temp/*
data/recordings/*
!data/Annotations/.gitkeep
!data/Images/.gitkeep
!data/Reports/.gitkeep
!data/temp/.gitkeep
!data/recordings/.gitkeep

credentials.py



